// Height
$desktopHeight: 90px;
$tabletHeight: 70px;
$mobileHeight: 60px;
$miniMobileHeight: 50px;

// Color
$backgroundColor: white;
$menuBackgroundColor: rgb(252, 250, 250);

// Z-Index
$headerZindex: 30;

.headerContainer {
  // border: 2px solid green;
  display: flex;
  justify-content: space-between;
  height: $desktopHeight;
  width: 100%;
  min-width: 200px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px 7%;
  position: relative;
  background-color: $backgroundColor;
  z-index: $headerZindex;
}

.hamburgerBox,
.signinBox,
.logoBox,
.navbarBox {
  // border: 2px solid navy;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.hamburgerBox {
  max-width: 30px;
  display: none;
}

.signinBox {
  max-width: 280px;
  gap: 10px;
  justify-content: flex-end;
}

.loginButton {
  font-weight: 600;
  font-size: 0.9rem !important;
  width: 80px !important;
  color: black !important;
}

.signupButton {
  width: 100px !important;
}

.logoBox {
  max-width: 240px;
  justify-content: flex-start;
}

.navbarBox {
  width: 100%;
  justify-content: flex-end;
}

.hamburgerMenuBox,
#hideMenu,
#showMenu {
  width: 100%;
  height: 100%;
  background-color: $menuBackgroundColor;
  display: flex;
  position: absolute;
  overflow-x: hidden;
  bottom: 0;
  z-index: 20;
  transform: translateX(-100%);
  transition: 800ms;
}

@media (max-width: 1000px) {
  .headerContainer {
    height: $tabletHeight;
    padding: 10px 5%;
  }
  .hamburgerBox {
    display: flex;
  }

  .signinBox {
    display: none;
  }

  .logoBox {
    max-width: 100%;
    justify-content: flex-start;
  }

  .navbarBox {
    display: none;
  }

  .hamburgerMenuBox,
  #showMenu {
    transform: translateX(0);
    transition: 800ms;
  }
}

@media (max-width: 700px) {
  .headerContainer {
    padding: 10px 2%;
  }
}
