// Height
$desktopHeight: 90px;
$tabletHeight: 70px;
$mobileHeight: 60px;
$miniMobileHeight: 50px;

// Color
$backgroundColor: white;
$menuBackgroundColor: rgba(9, 8, 8, 0.325);

// Z-Index
$headerZindex: 30;

.headerContainer {
  // border: 2px solid green;
  display: flex;
  justify-content: space-between;
  height: $desktopHeight;
  width: 100%;
  min-width: 200px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px 10%;
  position: relative;
  background-color: $backgroundColor;
  z-index: $headerZindex;
}

.hamburgerBox,
.signinBox,
.logoBox,
.navbarBox {
  // border: 2px solid navy;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.hamburgerBox {
  max-width: 60px;
  display: none;
}

.signinBox {
  max-width: 150px;
}

.logoBox {
  max-width: 300px;
  justify-content: flex-start;
}

.navbarBox {
  width: 100%;
}

.hamburgerMenuBox,
#hideMenu,
#showMenu {
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
  display: none;
  position: absolute;
  overflow-x: hidden;
  bottom: 0;
  z-index: 20;
}

@media (max-width: 1000px) {
  .headerContainer {
    height: $tabletHeight;
    padding: 10px 5%;
  }
  .hamburgerBox {
    display: flex;
  }

  .signinBox {
    display: none;
  }

  .logoBox {
    max-width: 100%;
    justify-content: flex-start;
  }

  .navbarBox {
    display: none;
  }

  .hamburgerMenuBox,
  #showMenu {
    display: block;
  }
}
