// Color
$searchInputBg: #def4ff;

.polygon {
  position: absolute;
  bottom: 12%;
  right: 8%;
  z-index: 2;
}

.polygon:nth-child(2) {
  top: 12%;
  left: 8%;
  z-index: 2;
}

@media (max-width: 1130px) {
  .bannerContainer {
    gap: 10px !important;
    border-radius: 40px !important;
    height: fit-content !important;
    min-height: 430px !important;
    padding: 15px 16px !important;
  }
  .textFocalContainer {
    max-width: 600px !important;
    height: fit-content !important;
  }
}

@media (max-width: 920px) {
  .bannerContainer {
    padding-top: 50px !important;
    width: 100% !important;
  }

  .textFocalWraper {
    height: fit-content !important;
    max-width: 600px !important;
  }
  .titleBox,
  .descriptionBox,
  .searchBox {
    min-height: fit-content !important;
  }
}

@media (max-width: 700px) {
  .bannerContainer {
    gap: 10px !important;
    border-radius: 36px !important;
  }
  .textFocalContainer {
    max-width: 426px !important;
  }
}

@media (max-width: 450px) {
  .bannerContainer {
    gap: 10px !important;
    border-radius: 32px !important;
  }
  .polygon {
    display: none;
  }
}
