//Height
$DesktopHeight: 90px;
$TabletHeight: 70px;
$MobileHeight: 60px;
$MiniMobileHeight: 50px;

//Color
$BackgroundColor: #def4ff;

.bodyContainer {
  height: fit-content;
  min-height: 600px;
  width: 100%;
  min-width: 200px;
  // border: 2px solid red;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $BackgroundColor;
}
