.courseLayout {
  flex-wrap: wrap;
}

.tabLabel {
  display: none;
}

.courseTab::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.courseTab::-webkit-scrollbar-track {
  background-color: default;
}

.courseTab::-webkit-scrollbar-thumb {
  border-radius: 1px;
}

@media (max-width: 1000px) {
  .heroSection {
    padding: 50px 5% !important;
  }
}

@media (max-width: 940px) {
  .heroSection {
    padding: 0 !important;
  }
}
