.tabTitleBox {
  display: none;
}

@media (max-width: 1000px) {
  .container {
    padding: 50px 5% !important;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column !important;
    padding: 50px 2% !important;
  }
  .sideBar {
    max-width: 100% !important;
  }
  .priceBox,
  .learningOutcomeBox {
    max-width: 100% !important;
  }
}
