.tabTitleBox {
  display: flex;
}

.learningOutcomeBox:last-child {
  border: none !important;
}

@media (max-width: 1000px) {
  .container {
    padding: 50px 5% !important;
  }
  .container {
    flex-direction: column !important;
    padding: 50px 2% !important;
  }
  .sideBar {
    max-width: 100% !important;
  }
  .priceBox,
  .learningOutcomeBox {
    max-width: 100% !important;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 50px 2% !important;
  }
  .previewBox {
    height: 390px !important;
  }
}
