.tabTitleBox {
  display: flex;
}

.learningOutcomeBox:last-child {
  border: none !important;
}

@media (max-width: 1000px) {
  .container {
    padding: 50px 5% !important;
  }
  .wrapper {
    flex-direction: column !important;
  }
  .sideBar {
    max-width: 100% !important;
  }
  .priceBox,
  .learningOutcomeBox {
    max-width: 100% !important;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 30px 0 50px 0 !important;
  }
  .mainSection {
    padding: 0 !important;
  }
  .sideBar {
    padding: 0 !important;
    border-radius: 0 !important;
  }
  .previewBox {
    border-radius: 0 !important;
  }
  .tabBox {
    padding: 0 2% !important;
  }
}
