@media (max-width: 1000px) {
  .heroSection {
    padding: 50px 5% !important;
  }
}

@media (max-width: 940px) {
  .heroSection {
    padding: 0 !important;
  }
}

@media (max-width: 700px) {
  .heroSection {
    padding: 0 !important;
  }
  .testimonySection {
    padding: 50px 2% !important;
  }
  .communitySection {
    padding: 50px 2% !important;
  }
  .mentorSection {
    padding: 50px 2% !important;
  }
  .corevalueSection {
    padding: 40px 2% !important;
  }

  .courseSection {
    padding: 10px 2%;
  }
}
