@media (max-width: 700px) {
  .container {
    padding: 0 !important;
  }
  .testimonySection {
    padding: 50px 5% !important;
  }
  .communitySection {
    padding: 50px 5% !important;
  }
  .mentorSection {
    padding: 50px 5% !important;
  }
  .corevalueSection {
    padding: 40px 5% !important;
  }
  .heroSection {
    padding: 50px 5% !important;
  }
  .courseSection {
    padding: 10px 5%;
  }
}
