.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 2px solid white;
  width: fit-content;
  height: fit-content;
  padding: 6px 0;
  overflow: hidden;
}

.logoLink {
  text-decoration: none;
  color: inherit;
}

.logo {
  cursor: pointer !important;
}

.logoColored {
  cursor: pointer !important;
}

@media (max-width: 700px) {
  .logo {
    width: 120px !important;
  }
  .logoColored {
    width: 100px !important;
  }
}
