.button {
  display: none !important;
}

.carouselWrapper:hover .button {
  display: grid !important;
}

@media (max-width: 450px) {
  .carouselContainer {
    height: 600px !important;
  }
  .carouselWrapper {
    padding: 10px 2% !important;
  }
  .detailBox {
    flex-direction: row !important;
  }
  .avatarBox {
    width: 70px !important;
  }
  .avatar {
    width: 46px !important;
    height: 46px !important;
  }
  .name {
    width: 100% !important;
  }
  .occupation {
    width: 100% !important;
  }
}
