//Color
$MenuBackgroundColor: rgb(252, 250, 250);
$linkColor: #3149a1;
$linkBorderColor: #3149a1;
$hoverCover: rgba(128, 128, 128, 0.032);
$borderColor: rgba(192, 192, 192, 0.482);

.menuContainer {
  padding: 100px 5% 0 5%;
  height: fit-content;
  width: 100%;
  background-color: $MenuBackgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  gap: 10px;
  position: relative;
}

.userDetailBox {
  display: flex;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}

.linkBox {
  height: fit-content;
  width: 100%;
}

.signinBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  min-height: 40px;
  width: 100%;
  padding: 10px 2px;
  overflow: hidden;
  gap: 8px;
}

.loginButton {
  font-weight: 600;
  font-size: 0.9rem !important;
  width: 100% !important;
  color: black !important;
  border: 1px solid $borderColor !important;
  border-radius: 0 !important;
}

.signupButton {
  width: 100% !important;
  min-width: 100px !important;
  border-radius: 0 !important;
}

.list {
  text-decoration: none;
  list-style: none;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 0;
  cursor: pointer;
  color: $linkColor;
  font-size: 0.9rem;
  font-weight: 500;
  border-bottom: none;
  transition: ease-in-out;
}

.list:hover {
  background-color: $hoverCover;
}

@media (max-width: 700px) {
  .menuContainer {
    padding: 100px 2% 0 2%;
  }
}
