// Color
$colorOne: #3149a1;
$colorTwo: black;

.textFocalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mentorBox,
.descriptionBox,
.reviewBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 4px 16px;
}

.mentorBox {
  height: 35%;
  gap: 6px;
}

.mentorName {
  color: $colorOne;
  text-align: left;
  padding: 2px 0;
  height: 32px;
  width: fit-content;
  overflow: hidden;
}
.name,
.profession {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-clamp: 1;
}
.name {
  font-size: 0.85rem;
  font-weight: 900;
  height: 14px;
}
.profession {
  font-size: 0.7rem;
  font-weight: 500;
}

.descriptionBox {
  height: 35%;
  overflow: hidden;
  flex-direction: column;
  padding: 0 16px;
}

.description {
  font-size: 0.65rem;
  font-weight: 600;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 60px;
  width: 100%;
  overflow: hidden;
  padding: 0;
  color: $colorTwo;
  text-align: left;
  box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 14px;
}

.reviewBox {
  height: 30%;
  gap: 2px;
}

.star,
.value {
  color: #119ee3;
  font-size: 0.55rem;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 1000px) {
  .cardContainer {
    width: 220px !important;
    height: 260px !important;
  }
  .description {
    font-size: 0.6rem !important;
  }
}
