.button {
  border: 2px solid red;
  min-width: fit-content;
  min-height: 60px;
  // background: linear-gradient(to right, red, rgba(128, 125, 123, 1) 100%);
  background-color: transparent;
  color: red;
  font-size: large;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 19;
  position: relative;
  border-radius: 40px;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 300px) {
  .button {
    min-width: 220px;
  }
}
